html {
	height: 100%;
}
body {
	background: #fff;
	font-size: 14px;
	min-height: 100%;
	color: #fff;
	padding-top: 25px;
	font-family: Arial, Helvetica, sans-serif;
}
@font-face {
	font-family: "Myriad_pro-Cond";
	src: url(MyriadPro-Cond.otf);

}
p {
	font-size: 14px;
	color: #9c9c9c;
	line-height: 1.5;
}
a {
	text-decoration: none;
	outline: none;
	color: #8abfe0;
	font-size: 14px;
}
a:hover {
	text-decoration: underline;
	outline: none;
	color: #335a66;
	font-size: 14px;
}
code {
	font-family: "Courier new", Courier, monospace;
	color: #000;
}
blockquote {
	font-style: italic;
	background: #ccc;
	margin-left: 20px;
}
.wrap {
	width: 1200px;
	margin: 0 auto;
	background: #fff;
}
/* header */
.header {
	width: 100%;
	height: 460px;
	background: url(img/header_bg.jpg);
}
.telefon {
	width: 215px;
	height: 50px;
	position: relative;
	top: 200px;
	left: 965px;
	color: #fff;
	font-family: "Myriad_pro-Cond";
}
.telefon_k {
	font-size: 18px;
}
.telefon-r {
	font-size: 26px;
}
.telefon-l {
	font-size: 48px;
}
.header_menu {
	width: 970px;
	height: 35px;
	background: url(img/header_menu_bg.gif);
	margin: 375px auto 0 auto ;
	overflow: hidden;
	
}
.header_menu_b {
	display: table;
	width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.header_menu li {
    padding: 10px; 
	display: table-cell; 
	font-family: "Myriad_pro-Cond";
	font-size: 19px;
	text-align: center;
}
.header_menu li a {
	color: #fff;
	text-decoration: none;
	font-size: 19px;
}
.header_menu li:hover {
	font-size: 19px;
	background: url(img/header_menu_act.gif);
}
/* conteiner */
.conteiner {
	width: 970px;
	margin: 0 auto;
}
/* banners */
.banners {
	width: 100%;
	height: 65px;
	margin: 60px auto 0 auto;
}
.banners-l {
	 margin: 0 20px;
	float: left;
}
.banners img {
	 float: left;
	 margin-right: 10px;
}
.banners-l h2 {
	padding-left: 135px;
	color: #4e4e4e;
	text-transform: uppercase;
	font-size: 17px;
	font-family: "Myriad_pro-Cond";
}
.banners-l p {
	color: #868787;
	font-size: 11px;
	padding-left: 135px;
}
.banners-l a {
	text-decoration: underline;
	padding-left: 135px;
	display: block;
	margin-top: 18px;
}

.banners-l a:hover {
	text-decoration: underline;
	color:#8abfe0;
	font-size: 16px;
}
